<template>
  <div class="home">
    <PhasedTable :headers="headerList" :data="dataList2" :options="options"/>
  </div>
</template>

<script>
import PhasedTable from "../components/PhasedTable.vue";

export default {
  name: "Home",
  components: {
    PhasedTable,
  },
  data() {
    return {
      headerList: [
        { name: "index", type: "number" },
        { name: "name", type: "text" },
        { name: "level", type: "number" },
        { name: "parent", type: "number" },
      ],
      dataList: [
        {
          index: 1,
          name: "punitha",
          age: 25,
          gender: "Female",
          level: 0,
          children: [],
        },
        {
          index: 2,
          name: "Anita",
          age: 29,
          gender: "Female",
          level: 0,
          children: [],
        },
        {
          index: 3,
          name: "Lavanya",
          age: 29,
          gender: "Female",
          level: 0,
          children: [],
        },
        {
          index: 4,
          name: "john",
          age: 29,
          gender: "Male",
          level: 0,
          children: [
            {
              index: 5,
              name: "antony",
              age: 27,
              gender: "Male",
              level: 1,
              children: [
                {
                  index: 6,
                  name: "antony",
                  age: 27,
                  gender: "Male",
                  level: 2,
                  children: [
                    {
                      index: 7,
                      name: "antony",
                      age: 27,
                      gender: "Male",
                      level: 3,
                      children: [],
                    },
                  ],
                },
              ],
            },
          ],
        },
      ],
      dataList2: [
        {
          index: 1,
          name: "Task 1",
          children: [
            {
              index: 10,
              name: "Task 10",
              children: [
                {
                  index: 11,
                  name: "Task 11",
                  children: [
                    {
                      index: 12,
                      name: "Task 12",
                      children: [],
                      level: 3,
                      parent: 11,
                    },
                    {
                      index: 9,
                      name: "Task 9",
                      children: [],
                      level: 3,
                      parent: 11,
                    },
                  ],
                  level: 2,
                  parent: 10,
                },
              ],
              level: 1,
              parent: 1,
            },
          ],
          level: 0,
          parent: "",
        },
        {
          index: 2,
          name: "Task 2",
          children: [
            {
              index: 3,
              name: "Task 3",
              children: [
                {
                  index: 7,
                  name: "Task 7",
                  children: [
                    {
                      index: 8,
                      name: "Task 8",
                      children: [],
                      level: 3,
                      parent: 7,
                    },
                    {
                      index: 9,
                      name: "Task 9",
                      children: [],
                      level: 3,
                      parent: 7,
                    },
                  ],
                  level: 2,
                  parent: 3,
                },
              ],
              level: 1,
              parent: 2,
            },
          ],
          level: 0,
          parent: "",
        },
        {
          index: 4,
          name: "Task 4",
          children: [
            {
              index: 5,
              name: "Task 5",
              children: [],
              level: 1,
              parent: 4,
            },
          ],
          level: 0,
          parent: "",
        },
        {
          index: 6,
          name: "Task 6",
          children: [],
          level: 0,
          parent: "",
        },
        {
          index: 6,
          name: "Task 6",
          children: [],
          level: 0,
          parent: "",
        },
      ],
      options:{
        sortBy:"index",
        sortOrder:"asc"
      }
    };
  },
};
</script>
