<template>
  <section class="p-5 table-responsive">
    <table class="table table-md table-bordered" id="sortableTable">
      <thead class="thead-dark">
        <tr class="">
          <th scope="row" style="width:5%"><input type="checkbox" @click="(event) => handleAllRowsSelection(event)"></th>
          <th colspan="1" style="width:25%" v-for="(header, index) in headers" :key="index" :id="'header_'+index" @click="(event)=>handleSortToggle(event)">
            {{ header.name }}
          </th>
        </tr>
      </thead>
      <tbody id="sortableTableBody">
        <TaskComponent :data="data" :headers="headers" :options="options"></TaskComponent>
      </tbody>
    </table>
  </section>
</template>

<script>
var emitter = require('tiny-emitter/instance');

import TaskComponent from "./TaskComponent.vue";
// import bus from "./eventBus"
export default {
  name: "PhasedTable",
  props: ["data", "headers",'options'],
  components:{
      TaskComponent
  },
  methods:{
    handleAllRowsSelection(event){
      console.log(event.target.checked)
      console.log("emitting")
      emitter.emit('toggleAllCheckBoxes',{status:event.target.checked})
    },
    handleSortToggle(event){
      console.log(event.target.id)
    }
  }
};
</script>

<style></style>
