<template>
  <th colspan="1" v-for="(headerItem, index1) in headers" :key="index1">
    <label :style="getClass(index1, task.level)"
      ><span
        class="border"
        v-if="task.children.length > 0 && index1 == 0"
        @click="() => toggleChildView(task.index)"
        >+</span
      >{{ task[headerItem.name] }}</label
    >
    <input
      class="form-control field-values"
      style="display: none"
      v-model="task[headerItem.name]"
      @click="handleInputClick"
    />
  </th>
</template>

<script>
export default {
  name: "TaskRow",
};
</script>

<style>
</style>