<template>
  <template v-for="(task, index) in getDataProps" :key="index">
    <tr
      class="hidden"
      :style="
        'transform:translate(' +
        task.level * 50 +
        'px;background-color:green;);'
      "
      @click="(event) => clickToEditRow(event, task.index)"
    >
      <th colspan="1">
        <input type="checkbox" class="row-selection-box" ref="selectionBox" @click.stop="(event) => haneleCheckboxChange(event,task.index)" checked v-if="parentIDs.includes(getSelectedParent)"/>
        <input type="checkbox" class="row-selection-box" ref="selectionBox" @click.stop="(event) => haneleCheckboxChange(event,task.index)" v-else/>
      </th>

      <th colspan="1" v-for="(headerItem, index1) in headers" :key="index1">
        <div class="field-value-label" :style="getClass(index1, task.level)">
          <div class="row p-0">
            <div class="col-md-2 text-right p-0 border-left border-bottom border-warning" v-if="task.level > 0 && index1 == 0">
              <!-- <hr align="right"/> -->
            </div>
            <div class="col-md-1 text-right p-0">
              <span
                class="border"
                v-if="task.children.length > 0 && index1 == 0"
                @click.stop="() => toggleChildView(task.index)"
                >+</span
              >
            </div>
            <div class="col-md-2 text-left p-0">{{ task[headerItem.name] }}</div>
            <div class="col-md-6"></div>
          </div>
        </div>
        <input
          class="form-control field-values"
          style="display: none"
          v-model="task[headerItem.name]"
          @click.stop="(event) => handleInputClick(event)"
        />
      </th>
    </tr>
    <task-component
      :style="getStyle"
      v-if="task.children && task.children.length > 0"
      :parent="getParent(task.index, parent)"
      :data="task.children"
      :headers="headers"
    />
  </template>
</template>

<script>
// import {mapState} from "vuex";

export default {
  name: "TaskComponent",
  props: ["data", "headers", "level", "parent", "options","checked"],
  data() {
    return {
      parentIDs: [],
      editFieldsOpen: false,
      dynamicDisplay: "block",
      isChecked:false
    };
  },
  created() {
    
  },
  computed: {
    getDataProps() {
      return [...this.data];
    },
    getSelectedParent(){
      return this.$store.state.selectedParentNodes
    },
    getCheckboxStatus(){
      return this.checked
    }
  },
  methods: {
    getClass(index, level) {
      //   console.log(index);
      if (index == 0) {
        return "padding-left:" + level * 40 + "px !important";
      } else {
        return "padding-left:0px";
      }
    },
    toggleChildView(index) {
      console.log(index);
    },
    getStyle() {
      return "display:" + this.display;
    },
    getParent(indx, prnt) {
      console.log(prnt, indx);
      this.parentIDs = []
      if (prnt == undefined) {
        this.parentIDs.push(indx);
      } else {
        this.parentIDs = [...prnt];
        this.parentIDs.push(indx);
      }
      console.log(this.parentIDs);
      return this.parentIDs;
    },
    clickToEditRow(event) {
      let rowItem = event.target.parentElement;
      console.log("prent element: ", rowItem);
      this.toggleEditView(rowItem);
      this.handleOutsideClick(event.target.parentElement);
      // this.$store.commit("SET_SELECTED_PARENT_NODES",index)
     
    },
    haneleCheckboxChange(event){
       console.log(event.target.checked)
        // this.isChecked = event.target.checked
    },
    handleInputClick(event) {
      console.log(event);
    },
    toggleEditView(rowItem) {
      rowItem.classList.toggle("edit-active");
      let rowLabels = rowItem.querySelectorAll("div.field-value-label");
      let rowInputs = rowItem.querySelectorAll("input.field-values");
      console.log(rowInputs)

      if (this.editFieldsOpen) {
        rowInputs.forEach((item) => {
          item.style.display = "none";
        });
        rowLabels.forEach((item) => {
          item.style.display = "";
        });

        this.editFieldsOpen = false;
      } else {
        rowLabels.forEach((item) => {
          item.style.display = "none";
        });
        rowInputs.forEach((item) => {
          item.style.display = "";
        });
        this.editFieldsOpen = true;
      }
    },
    handleOutsideClick(elem) {
      let tbleBody = document.getElementById("sortableTableBody");
      let tableRows = tbleBody.getElementsByTagName("tr");
      tableRows.forEach((item) => {
        if (item !== elem) {
          let rowLabels = item.querySelectorAll("div.field-value-label");
          let rowInputs = item.querySelectorAll("input.field-values");
          rowInputs.forEach((item1) => {
            item1.style.display = "none";
          });
          rowLabels.forEach((item1) => {
            item1.style.display = "";
          });
        }
      });
      // this.editFieldsOpen = false;
    },
  },
};
</script>
<style scoped>
  div{
    font-size:14px !important;
    font-weight:300 !important;
  }
</style>